---
import Layout from "../layouts/Layout.astro";
import data from "../data/site.json";

import Header from "../components/Header.astro";
import CTA from "../components/CTA.astro";
import FeatureList from "../components/FeatureList.astro";
import Timeline from "../components/Timeline.astro";
import FeatureList2 from "../components/FeatureList2.astro";
---

<Layout title={data.siteName}>
  <main>
    <Header />
    <CTA />
    <FeatureList />
    <FeatureList2 />
  </main>
</Layout>
