---
// import the Image component and the image
import { Image } from 'astro:assets';
import darkImage from "../assets/William_picture.jpeg"; 
import lightImage from "../assets/William_picture.jpeg"; 
const title = "William Remo"
const body = "I am a Filipino American attorney who grew up in the Bay Area, and I bring both personal and professional experience to my practice. Over the course of my career, I have worked on a wide range of legal matters, including criminal defense cases involving DUI issues as well as family law disputes. These experiences have given me a strong foundation in advocacy, courtroom practice, and helping clients navigate some of the most stressful and challenging times in their lives."
---
<section class="mb-12 bg-stone-100 dark:bg-slate-800">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <Image src={darkImage} class="w-full hidden dark:block" alt="A description of my image." />
        <Image src={lightImage} class="w-full dark:hidden border-solid border-2" alt="A description of my image." />
        <!-- <img class="w-full dark:hidden border-solid border-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup.svg" alt="dashboard image">
        <img class="w-full hidden dark:block" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg" alt="dashboard image"> -->
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{title}</h2>
            <p class="mb-8 mt-2 text-lg text-gray-700 dark:text-gray-400">{body}</p>

        </div>
    </div>
</section>