---
import Heading from "./Heading.astro";

const heading = "Our Approach";

const sections = [
  "Compassionate",
  "Detail-Oriented",
  "Dedicated",
];
const sectionsText = [
  "I view my work as more than just legal service; it’s also my way of giving back to the community I grew up in. By focusing on immigration law, I aim to open doors of opportunity and provide peace of mind to those who entrust me with their cases.",
  "I prepare thoroughly for every step of the process. This means carefully reviewing documents, anticipating possible obstacles, and ensuring that applications are complete and accurate before submission. I also take time to explain the law and process clearly, so clients always know what to expect. By paying attention to details that others might overlook, I help minimize errors and delays that could jeopardize a case.",
  "I am committed to safeguarding my clients’ rights and pursuing the most favorable outcomes possible. Dedication, in my practice, means consistent preparation, thorough follow-through, and unwavering advocacy at every stage of the process. I work diligently to address challenges as they arise, maintain clear communication, and ensure that each client receives the focused attention their case deserves.",
];
---

<div class="mb-12 bg-stone-100 dark:bg-slate-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <Heading heading={heading} />
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
      {
        sections.map((section) => {
          return (
            <div class="flex flex-col">
              <div class="mt-6">
                <h3 class="text-lg font-medium text-gray-900 dark:text-white">
                  {sections[sections.indexOf(section)]}
                </h3>
                <p class="mb-8 mt-2 text-lg text-gray-700 dark:text-gray-400">
                  {sectionsText[sections.indexOf(section)]}
                </p>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
